@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

.title {
  display: flex;
  margin-top: 2.5rem;
  justify-content: center;
  text-align: center;
}

.title-wrap {
  text-align: center;
}

.title-text {
  font-size: 1.5rem;
  line-height: 31.2px;
  text-wrap: nowrap;
}

.button {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
}

.button-wrap {
  display: flex;
  width: 680px;
  justify-content: end;
}

.add-post-button {
  width: 138px;
  height: 2.4375rem;
  padding: 0.25rem;
  border-radius: 4px;
  border-color: #ffffff;
  border-width: 0px;
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
  background-color: #f2f2f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-post-button:hover {
  color: #121212;
}

body.dark-mode .add-post-button {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  color: #ebebf5;
  background-color: #0a84ff;
}

.posts {
  margin-top: 1.5rem;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.post-item {
  width: 680px;
  height: 193px;
  /* padding-top: 1.5em; */
  display: flex;
  flex-direction: column;
  /* border-radius: 16px; */
  cursor: pointer;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
}

.post-info-wrap {
  display: flex;
  justify-content: space-between;
  /* padding: 0 1.5em 1.5em 1.5em; */
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1375rem;
}

.post-info-wrap-left {
  overflow: hidden;
  display: flex;
  max-width: 464px;
  flex-direction: column;
  justify-content: space-evenly;
}

.post-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  max-height: 60px;
  word-break: break-word;
}

.post-contents {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-height: 78px;
  color: rgb(107, 107, 107);
}

.post-wrap-detail {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: rgb(107, 107, 107);
}

.post-updateAt {
  align-self: srtart;
  text-wrap: nowrap;
  color: rgb(107, 107, 107);
}

.post-writer-wrap {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  align-items: center;
}

.post-writer-img {
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 100%;
}

.post-writer-profile {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  object-fit: cover;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.post-img {
  width: 160px;
  height: 107px;
  object-fit: cover;
  vertical-align: center;
  border-radius: 2px;
}
