.post {
  margin-left: 34.583vw;
  margin-right: 34.583vw;
  display: flex;
  flex-direction: column;
}

.post-detail-top {
  padding: 2.222vh 1.25vw 2.222vh 1.25vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.post-title-detail-wrap {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.post-writer-name,
.post-updateAt,
.post-controll-button {
  width: auto;
  white-space: nowrap;
}

.post-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.post-writer-img {
  width: 36px;
  height: 36px;
  background-color: #d9d9d9;
  border-radius: 100%;
}

.post-writer-profile {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  object-fit: cover;
}

.post-writer-name {
  padding-left: 0.625rem;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.2188rem;
}

.post-updateAt {
  margin-left: 1.5rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1375rem;
}

.post-controll-button {
  margin-left: auto;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.4675rem;
  color: #000000;
  text-align: center;
}

.post-controll-button-detail {
  padding: 0.185vh 0.625vw 0.185vh 0.625vw;
  border: 1px solid #aca0eb;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}

.post-detail-bottom {
  padding: 2.222vh 1.25vw 2.963vh 1.25vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.post-contents-img {
  width: 28.333vw;
  height: 28.333vh;
  background-color: #d9d9d9;
}

.post-img {
  width: 28.333vw;
  height: 28.333vh;
  object-fit: cover;
}

.post-contents {
  margin-top: 2.222vh;
  width: 28.333vw;
  height: fit-content;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.3219rem;
}

.post-interaction {
  padding: 0 4.688vw 0 4.688vw;
  margin-top: 2.963vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

#post-interaction-likes:hover {
  cursor: pointer;
  background-color: #e9e9e9;
}

.post-interaction-box {
  padding: 1.111vh 0 1.204vh 0;
  min-width: 7.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: #d9d9d9;
  font-weight: 700;
  text-align: center;
}

.post-interaction-value {
  padding: 0;
  font-size: 1rem;
}

.post-interaction-title {
  margin-top: 0.0625rem;
  font-size: 1.25rem;
}

.comment {
  padding-top: 2.963vh;
  margin: 0 34.583vw 0 34.583vw;
}

.comment-write-article {
  display: flex;
  flex-direction: column;
}

.comment-area {
  padding: 1.5rem 1.5rem 3.1875rem 1.5rem;
  width: 100%;
  height: 7.375rem;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.3219rem;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px 16px 0 0;
  background-color: #ffffff;
  resize: none;
}

.comment-area:focus {
  outline: none;
}

.comment-btn-wrap {
  padding: 0.556vh 0.417vw 0.556vh 0;
  display: flex;
  justify-content: end;
  border: none;
  border-radius: 0 0 16px 16px;
  background-color: #ffffff;
}

.comment-button {
  padding: 0.4375rem 2.4375rem 0.4375rem 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  background-color: #aea0eb;
}

.comment-list-article {
  padding-top: 2.222vh;
}

.comment-wrap {
  margin-bottom: 1.481vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.comment-wrap-detail {
  display: flex;
  flex-direction: column;
}

.comment-writer-info {
  display: flex;
  flex-direction: row;
  width: fit-content;
  flex-wrap: nowrap;
  align-items: center;
}

.comment-contents {
  padding: 0.5rem 0 0 2.875rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.3219rem;
  text-align: left;
}
.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
}
